*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore{
    margin: 10px auto;
    width: 1000px;
    text-align: center;
}

.riquadro{
    display: inline-block;
    position:relative;
    margin: 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 3px solid black;
    border-radius: 15% 0;
}

div[class*="sconto"]{
    position:absolute;
    right: 0;
}

.sconto-rosso{
    background-color: rgb(212, 37, 37);
}
.sconto-verde{
    background-color: rgb(25, 218, 39);
}

.uno{
    background-image: url('../img/cuffie.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.due{
    background-image: url('../img/pc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tre{
    background-image: url('../img/phone.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.cuore{
    position: absolute;
    z-index: 2;
    left: 150px;
    bottom: 5px;
    font-size: 50px;
    color: red;
    opacity: 0;
}

.riquadro:hover .cuore{
    opacity: 1;
}
